@import '../../../styles/mixins/mixins'

.navbar
    display: flex
    width: 100%
    align-items: center
    margin: auto
    flex-wrap: nowrap
    justify-content: space-between
    @include container

    &-logo img
        height: 80px
        width: 153px

    & ul
        display: flex
        font-weight: 700
        justify-content: flex-start
        list-style-type: none
        flex-wrap: wrap
        gap: 10px
        align-items: center

        li
            display: inline-block
            margin: 0 9px

    &-item
        color: black
        font-weight: bold
        text-decoration: none

/* header infor */

@media screen and (max-width: 1024px)
    .header
        width: 99%
