@import '../../../styles/mixins/mixins'
@keyframes slideIn
    from
        transform: translateY(-100%) // Bắt đầu từ trên cùng

    to
        transform: translateY(0) // Kết thúc ở vị trí ban đầu
@keyframes scaleUp
    from
        transform: scale(0.8)

    to
        transform: scale(1)

.nav
    position: relative
    transition: transform 0.3s ease
    border-bottom: 1px solid rgba(194, 194, 194, 0.2)

    &.sticky
        position: fixed
        top: 0
        left: 0
        right: 0

        margin: 0 auto
        background-color: rgba(255, 255, 255, 0.9)
        z-index: 1000
        animation: slideIn 0.3s ease forwards

.navbar
    display: flex
    width: 100%
    align-items: center
    margin: auto
    flex-wrap: nowrap
    justify-content: space-between

    @include container

    &-logo
        margin-right: 30px
        transition: transform 0.3s ease
    & ul
        display: flex
        font-weight: 700
        justify-content: flex-start
        list-style-type: none
        flex-wrap: wrap
        gap: 20px
        align-items: center

        & li
            position: relative
            display: flex

            img
                margin-top: 5px

            & a
                width: 100%
                text-decoration: none

            &:hover .navbar-item-submenu
                opacity: 1
                visibility: visible

    &-item
        color: black
        &-submenu
            min-width: 250px
            display: inline-block
            text-align: left
            opacity: 0
            visibility: hidden
            position: absolute
            z-index: 1
            top: 100%
            left: 0
            background: white
            padding: 30px
            & li
                width: 100%
                padding: 10px 0
                border-bottom: 1px solid #afafaf

                & a
                    padding-right: 0
                    color: #727272
                    font-weight: 400
                    &:hover
                        color: #2c2c2c

/* header infor */

@media screen and (max-width: 1024px)
    .header
        width: 99%
