// .banner
//     display: flex
//     width: 100%
//     align-items: center
//     background-image: url('/assets/Product/Banner-product.png')
@import '../../styles/mixins/mixins'
.service-header
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/Service/Service-banner.png')
    background-position-y: 60%
    min-height: 200px

    @include banner

    &-content
        display: flex
        flex-direction: column
        justify-content: center
        gap: 1.5rem
        padding: 3rem 1rem
        color: white
        text-align: left
        @include container

.support
    margin: 30px 0

    &-board
        text-align: left
        @include container
    &-content
        display: flex
    &-item
        padding: 20px
        width: fit-content
        margin-bottom: 30px
