.btn
  border: none
  font-weight: bold
  color: white
  width: 130px
  padding: 10px
  border-radius: 99px
  background-color: var(--primary)
  box-shadow: -0.15px -1.5px 0px 0px rgba(0, 0, 0, 0.15) inset
  cursor: pointer
