
/* header */
.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap:10px;
}

.header-logo img{
    height: 80px;
    width: 153px;
}

.header-contents{
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-contents ul{
    font-size: 15px;
    display: flex;
    width: 80%;
    font-weight: 700;
    height: 100%;
    gap: 10px;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}
/* header */


/* header infor */
.wrap-header-infor{
    width: 100%;
    background-color: var(--primary);
}

.header-infor{
    width: 100%;
    margin: auto;
}


.header-infor ul{
    padding: 2px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.header-infor-item{
    padding-left: 10px;
    padding-right: 10px;
    line-height: 13.5px;
}

.header-infor-item + .header-infor-item{
    border-left: 1px solid white;
    
}

.header-infor ul a{
    color: white;
    font-size: 13.5px;
    text-decoration: none;
}

.header-infor ul:first-child img{
    width: 24px;
    height: 24px;
}
/* header infor */

@media screen and (max-width: 1024px) {
    .header{
        width: 99%;
    }
}