
$font-stack: Helvetica, sans-serif
$primary-color: #333
$yellow: #f5d131

:root
    --primary-color: #333
    --secondary-color: #fff
    --button-color: #e84c3c
    --button-hover-color: #cc1905
    --yellow: #f5d131
    --white-bg: #F6F6F6
