@import '@styles/mixins/mixins'
.customer
    position: relative
    overflow-x: hidden
    h2
        font-size: 22.5px
    h3
        font-size: 18px
    .carousel
        padding: 15px 0px
        &-list
            display: flex
            flex-direction: column
            justify-content: space-between
            position: relative
            overflow-x: hidden
            overflow-y: hidden
            &-wrapper
                height: fit-content
                display: flex
                justify-content: flex-start
                transition: transform 0.5s ease-in-out
            &-btn 
                width: 30px
                position: absolute 
                background-color: white
                color: white 
                border: none 
                cursor: pointer 
                &-retangle
                    height: 100%
                &-circle
                    width: 50px
                    top: 50%
                    height: 50px
                    border: 1px solid black
                    border-radius: 50%
            
            &-prev,
            &-next
                opacity: 0
                transition: opacity 0.5s ease, visibility 0.5s ease
                
            &-prev
                box-shadow: 2px 0px 6px  rgba(0, 0, 0, .3)
                left: 0
                
            &-next
                box-shadow: -2px 0px 6px  rgba(0, 0, 0, .3)
                right: 0
            &:hover
                .carousel
                    &-list
                        &-prev,
                        &-next
                            opacity: 1
                           
        &-group
            flex: 0 0 100%
            justify-content: center
            gap: 10px 
            display: flex
            padding: 0px 15px
        &-dots 
            padding: 15px
            display: flex 
            justify-content: center 
            margin-top: 10px 
            .dot 
                width: 10px 
                height: 10px 
                border-radius: 50% 
                background-color: #ccc 
                margin: 0 5px 
                cursor: pointer
                transition: background-color 0.3s ease 

                &.active 
                    background-color: black
                &:hover 
                    background-color: black 

    @include container