@import '@styles/mixins/mixins'
.service-section
    &-header
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/Service/Service-banner.png')
        background-position-y: 60%
        min-height: 135px
        transition: all 0.5 ease
        text-align: left
        @include banner
        &-content
            @include container
            display: flex
            flex-direction: column
            align-items: flex-start
            gap: 1.5rem
            padding: 3rem 1rem
            color: white
            text-align: left
            
            
    
        
    
    
       