.blog
<<<<<<< HEAD
=======
    &-header a
        color: black
>>>>>>> 8f7071914b960fda223bd5e3ccf8c8c38f9ac664
    h2
        font-weight: 600px
    &-header
        a        
            color: #111
    &-content
        display: flex
        flex-direction: row
        min-height: 500px
        justify-content: space-between
        text-align: left
    &-posts
        width: 80%
        padding: 20px
        border-left: 1px solid var(--border-color)
        display: flex
        flex-wrap: wrap
        justify-content: flex-start
        gap: 20px
