@import '../styles/mixins/mixins'

// @media screen and (max-width: 1024px)
//   .header
//     width: 99%

.customer
  padding: 60px 0 30px
  &-board
    align-items: center
    gap: 20px
    @include container

  &-list
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    gap: 30px

  &-card
    display: flex
    width: 331.23px
    height: 186.8px
    justify-content: center
    align-items: flex-start
    padding: 25px
    flex-shrink: 0
    border-radius: 20px
    background: var(--white-bg)
    box-shadow: 5px 6px 30px 0px rgba(0, 0, 0, 0.10)
    h3,h4
      font-weight: bold
