@mixin container()
    width: 100%
    max-width: 1060px
    margin-left: auto
    margin-right: auto

@mixin banner()
    min-height: 200px
    width: 100%
    background-repeat: no-repeat
    background-size: cover
