@import 'media-queries.mixin'
@import 'container.mixin'
@import 'effect.mixin'

@mixin center($flex: true)
  @if $flex
    display: flex
    justify-content: center
    align-items: center
  @else
    margin: 0 auto


